@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-family: $font-family-base;
    color: $color-base;
}

h1 {
    font-size: $font-size-headidng-base;
    font-weight: $font-weight-semi-bold;
    letter-spacing: -1px;

    @include mobile-styles {
        font-size: $font-size-headidng-medium;
    }
}

h2 {
    font-size: $font-size-headidng-large;
    font-weight: $font-weight-semi-bold;
    letter-spacing: -1px;
    margin-bottom: 1rem;

    @include mobile-styles {
        font-size: $font-size-headidng-small;
        line-height: normal;
    }
}

h3 {
    font-size: $font-size-headidng-smaller;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-primart;
}

p {
    color: $color-neutral-secondary;
    font-size: $font-size-base;
    line-height: 30px;
}

.btn {
    color: white;
    font-size: $font-size-base-medium;
    padding: 0.9rem 2.5rem;
    border-radius: 100ch;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
    font-weight: $font-weight-semi-bold;
}

.btn-green {
    background-color: $color-primary;
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);

    &:hover,
    &:focus {
        background-color: hsla(171, 66%, 44%, 0.7);
    }
}

.btn-blue {
    background-color: $color-secondary;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);

    &:hover,
    &:focus {
        background-color: hsla(233, 100%, 69%, 0.75);
    }
}