@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.download {
    margin-bottom: 9.375rem;

    @include mobile-styles {
        margin-bottom: 10.8rem;
    }

    .download__inner {
        @extend %wrap;
        text-align: center;
    }
}

.download__text-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        width: 55%;

        @include mobile-styles {
            width: 98%;
        }
    }

    .download__buttons {
        margin-top: 3rem;
        display: flex;
        align-items: center;

        @include mobile-styles {
            flex-direction: column;
            min-width: 100%
        }

        .btn {
            @include mobile-styles {
                min-width: 100%;
            }

            &:not(:last-child) {
                margin-right: 1rem;

                @include mobile-styles {
                    margin-right: 0rem;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}