@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;




.features__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;

    @include mobile-styles {
        padding: 0 1.5rem;
        margin-bottom: 11.5rem;
    }
}

.features__text-box {
    text-align: center;
    margin-bottom: 9.1rem;

    @include mobile-styles {
        margin-bottom: 4rem;
    }

    .features__title-text {
        font-size: $font-size-base-medium;
        width: 50%;
        margin: 0 auto;

        @include mobile-styles {
            width: 100%;
        }
    }
}

.features__main-container {
    display: flex;

    @include tablet-styles {
        flex-direction: column;
        align-items: center;
    }



    .features__main-container__img-box {
        min-width: 752px;
        transform: translate(-5.5%, -11.5%);
        flex-shrink: 0;

        @include tablet-styles {
            transform: translate(0%, 0%);
        }

        @include mobile-styles {
            min-width: 10%;
        }
    }

    .features__main-container__text-container {
        flex-shrink: 1;
        margin-left: 4.5rem;

        @include tablet-styles {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            padding: 0 3rem;
            margin-top: 4.5rem;
        }

        @include mobile-styles {
            margin-top: 3.5rem;
            flex-direction: column;
            padding: 0;
        }

        .features__main-container__text-box {

            &:not(:last-child) {
                margin-bottom: 3.5rem;

                @include mobile-styles {
                    margin-bottom: 3rem;
                }
            }

            @include tablet-styles {
                flex-basis: 33.33%;
                text-align: center;

                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }

            @include mobile-styles {
                flex-basis: 100%;

                &:not(:last-child) {
                    margin-right: 0rem;
                }
            }




            h3 {
                margin-bottom: 0.5rem;
            }

            p {
                max-width: 55%;

                @include tablet-styles {
                    max-width: 100%;
                }
            }


        }
    }
}