@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer {
    background-color: #F5F6F7;
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;

    .footer__inner {
        @extend %wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile-styles {
            flex-direction: column;
        }

    }
}

.footer__main-container {
    display: flex;
    align-items: center;

    @include mobile-styles {
        flex-direction: column;
    }

    .footer__logo {
        width: 55px;
        height: 55px;
        flex-shrink: 0;
        margin-right: 8.5rem;

        @include tablet-styles {
            margin-right: 5rem;
        }

        @include mobile-styles {
            margin-right: 0rem;
            margin-bottom: 2.5rem;
        }

    }
}

.footer__list-container {
    display: flex;

    @include mobile-styles {
        flex-direction: column;
        align-items: center;
    }

    .footer__list-box__inner {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: 5.35rem;

            @include tablet-styles {
                margin-right: 3rem;
            }

            @include mobile-styles {
                margin-right: 0;
            }
        }

        a {
            color: $color-base;
            font-size: $font-size-base-medium;
            line-height: 30px;
            transition: color 300ms ease;

            &:hover,
            &:focus {
                color: $color-primary;
            }

            &:not(:last-child) {
                margin-bottom: 0.75rem;
            }

            @include mobile-styles {
                margin-bottom: 1.5rem;
            }
        }
    }

}

.footer__socials-container {

    @include mobile-styles {
        margin-top: 1rem;
    }

    a {
        font-size: 1.5rem;
        color: $color-base;
        transition: color 300ms ease;

        &:hover,
        &:focus {
            color: $color-primary;
        }

        &:not(:last-child) {
            margin-right: 1.2rem;
        }
    }
}