@use './variables' as *;


@mixin mobile-styles-s {
    @media (max-width:461px) {
        @content;
    }
}

@mixin mobile-styles {
    @media (max-width:784px) {
        @content;
    }
}

@mixin tablet-styles {
    @media (max-width:1194px) {
        @content;
    }
}

%wrap {
    padding-left: 10.313rem;
    padding-right: 10.313rem;

    @include tablet-styles {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include mobile-styles {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}