@use 'sass:math';

@function rem-calc($size) {
    @return (math.div($size, 16)) * 1rem;
}


// Font settings

$font-family-base: 'Bai Jamjuree', sans-serif;


$font-weight-regular: 400;
$font-weight-semi-bold: 600;

$font-size-base: rem-calc(16);
$font-size-base-medium: rem-calc(18);
$font-size-base-large: rem-calc(20);

$font-size-headidng-base: rem-calc(46);
$font-size-headidng-large: rem-calc(36);
$font-size-headidng-medium: rem-calc(32);
$font-size-headidng-small: rem-calc(28);
$font-size-headidng-smaller: rem-calc(24);


// Color settings

$color-base: #4C545C;
$color-base-secondary: #9EABB2;

$color-primary: hsl(171, 66%, 44%);
$color-secondary: hsl(233, 100%, 69%);

$color-neutral-primart: hsl(210, 10%, 33%);
$color-neutral-secondary: hsl(201, 11%, 66%);

$color-hover-primary: #71C0D4;
$color-hover-secondary: #B18BDD;
// Size settings